<div class="header">
    <div class="header__content">
    <div class="header__logo">
        <a href="#">
        <img src="img/logo.png" alt="Logo">
        </a>
    </div>

    <div class="header__controls">
        <nav class="header__nav">
        <a class="header__nav-item" href="#" aria-label="Ir para páina principal">Principal</a>
        <a class="header__nav-item" href="#about" aria-label="Ir para seção sobre">Sobre</a>
        <a class="header__nav-item" href="#team" aria-label="Ir para seção equipe">Equipe</a>
        <a class="header__nav-item" href="#achievements" aria-label="Ir para seção conquistas">Conquistas</a>
        </nav>
        <a href="../../pages/apoie/index.html" class="header__cta"><span>Apoie o Projeto</span></a>
        <button class="header__hamburger" aria-label="Open menu">
        <span></span>
        <span></span>
        <span></span>
        </button>
    </div>
    </div>
</div>