.areas {
    margin: 64px 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    width: 100vw;
}

.content-areas {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--cor-principal);
    justify-items: center
}

.areas .blocos {
    text-align: center;   
    max-width: 250px;
    color: white;
    position: static;
}

.areas .icone {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #18022d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    border: 3px solid var(--cor-principal);
    transition: all .5s;
}

.areas .icone img {
    position: absolute;
    width: 50%;
    height: 50%;
    transition: all .5s;
}

.areas .icone:hover{
    /* transform: scale(0.9); */
    box-shadow: 0 0 20px rgba(19, 0, 74, 0.5);
    border: 3px solid #18022d;
    cursor: pointer;
}

.areas .icone:hover img {
    width: 60%;
    height: 60%;
}

.areas h2 {
    font-size: 20px;
    margin: 10px 0;
    color: white;
}

.areas p {
    font-size: 13px;
    margin: 0;
    position: static;
}

@media (max-width: 1130px) {
    .content-areas {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media (max-width: 550px) {
    .content-areas {
        /* grid-template-columns: 1fr; */
    }
    .blocos {
        width: 200px;
    }
}

@media (max-width: 430px) {
    .content-areas {
        grid-template-columns: 1fr;
    }
    .blocos {
        max-width: 250px;
    }
}