<div class="achievements">
    <h2>Participações</h2>

    <!-- Cartões -->
    <div class="achievements__cards">
            <div class="achievements__cards">
        <div class="achievements__card">
            <img src="./img/medalha.png" alt="Medal">
            <h3>2020</h3>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni necessitatibus voluptatum impedit
                facilis laboriosam deleniti labore.
            </p>
        </div>

        <div class="achievements__card">
            <img src="./img/trofeu.png" alt="Trophy">
            <h3>2015</h3>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, quis? Itaque incidunt debitis cum minus.
            </p>
        </div>
        <div class="achievements__card">
            <img src="./img/coroa-de-louros.png" alt="Laurel Crown">
            <h3>2017</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat omnis corporis doloribus! Numquam
                suscipit iste.
            </p>
        </div>
    </div>
</div>