<div class="achievements">
    <h2>Participações</h2>

    <!-- Cartões -->
    <div class="achievements__cards">
            <div class="achievements__cards">
        <div class="achievements__card">
            <img src="./img/medalha.png" alt="Medal">
            <h3>2025</h3>
            <p> Participação na competição Catarinense de Drones - IFSC/UniSATC.
            </p>
        </div>

        <div class="achievements__card">
            <img src="./img/trofeu.png" alt="Trophy">
            <h3>2020</h3>
            <p> Participação na Competição de Robôs Autônomos - CoRA.
            </p>
        </div>
        <div class="achievements__card">
            <img src="./img/coroa-de-louros.png" alt="Laurel Crown">
            <h3>2019</h3>
            <p> Vice-campeã na competição da Fórmula Drone - SAE Brasil.
            </p>
        </div>
    </div>
</div>