
.achievements {
  padding: 0 20px 40px 20px;
}

.achievements h2 {
  font-family: "BioRhyme", serif;
  color: var(--violeta);
  margin-bottom: 30px;
  text-align: center;
}

.achievements__cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.achievements__card {
  position: relative;
  width: 260px;
  height: 280px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  background: linear-gradient(var(--card-background-color), var(--card-background-color)) border-box;
  border: 4px solid transparent;
  clip-path: polygon(
    10% 0, 90% 0,
    100% 10%, 100% 90%,
    90% 100%, 10% 100%,
    0 90%, 0 10%
  );
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.achievements__card::before {
  content: "";
  position: absolute;
  inset: 4px;
  background: var(--card-background-color);
  clip-path: inherit;
  z-index: -1;
}

.achievements__card h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-text-color);
  margin: 10px 0 10px 0;
}

.achievements__card p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.achievements__card img {
  height: 70px;
  width: 70px;
}


@media (max-width: 945px) {
  .achievements__cards {
    flex-direction: column;
    align-items: center;
  }

  .achievements__card {
    width: 80%;
    max-width: 350px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .achievements__card {
    width: 90%;
  }
}