<div class="header">
    <div class="header__content">
    <div class="header__logo">
        <a href="../../../index.html#">
        <img src="../../../../img/logo.png" alt="Logo">
        </a>
    </div>

    <div class="header__controls">
        <nav class="header__nav">
        <a class="header__nav-item" href="#">Principal</a>
        <a class="header__nav-item" href="#about">Sobre</a>
        <a class="header__nav-item" href="#team">Equipe</a>
        <a class="header__nav-item" href="#achievements">Conquistas</a>
        </nav>
        <a href="./paginas/apoie/apoie.html" class="header__cta"><span>Apoie o Projeto</span></a>
        <button class="header__hamburger" aria-label="Open menu">
        <span></span>
        <span></span>
        <span></span>
        </button>
    </div>
    </div>
</div>