<div class="footer">
    <div class="footer__container">
        <!-- Left column -->
        <div class="footer__left">
            <div class="footer__contact">
                <h3>Contato:</h3>
                <p> <span><i class="fa-solid fa-envelope"></i></span> cefast.flytech.drone@gmail.com</p>
                <p> <span><i class="fa-solid fa-phone"></i></span> (31) 99999-9999</p>
            </div>

            <div class="footer__social">
                <h3>Redes Sociais:</h3>
                <a href="https://www.instagram.com/cefast_drone?igsh=N3ZveTQzczYxajJ5" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://github.com/Cefast-Flytech-Drone" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>


        <div class="footer__map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.6593075281257!2d-44.0013584247726!3d-19.938756681451665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6973f497f73a5%3A0x72e85b0a73d210a1!2sCEFET-MG%20-%20Campus%20Nova%20Gameleira!5e0!3m2!1spt-BR!2sbr!4v1755751054485!5m2!1spt-BR!2sbr"
                width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" width="80" height="80" style="border:0;" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <div class="footer__address">
                <h3>Endereço: </h3>
                <p>Av. Amazonas, 7675 - Nova Gameleira,<br>
                    Belo Horizonte - MG, 30510-000</p>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <p>© 2025 Equipe Flytec Drones</p>
    </div>
</div>