<h2>Equipe</h2>
<p>Nossa equipe é dividida em quatro áreas, cada uma separada por sua especialidade, que em conjunto estruturam o projeto.</p>
<div class="team__divider"></div>
<div class="team__areas">
    <div class="team__content">
        <div class="team__block">
            <h3>Mecânica</h3>
            <div class="team__icon">
                <img src="./img/mecanica.png" alt="Mecânica">
            </div>
            <p>Visa a integridade estrutural e perfomace eficiente do drone. É responsável pelo hardware, selecionando os materias e a disposição estratégica dos componentes do frame.</p>
        </div>

        <div class="team__block">
            <h3>Elétrica</h3>
            <div class="team__icon">
                <img src="./img/eletrica.png" alt="Elétrica">
            </div>
            <p>Responsável por assegurar a comunicação eficaz entre os seus componentes. Área que da vida ao projeto gerenciando o sistema de energia, envolvendo o dimensionamento de baterias e ESCs.</p>
        </div>

        <div class="team__block">
            <h3>Software</h3>
            <div class="team__icon">
                <img src="./img/software.png" alt="Software">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consequuntur libero amet nulla quas.</p>
        </div>

        <div class="team__block">
            <h3>Marketing e Gestão</h3>
            <div class="team__icon">
                <img src="./img/marketinggestao.png" alt="Marketing e Gestão">
            </div>
            <p>Trabalham em conjunto para garantir a visibilidade e o crescimento da equipe. Gestão foca no planejamento de projetos, controle de custos e a legalidade das operações. Marketing é responsável pela divulgação, atraindo pessoas e garantindo a expansividade.</p>
        </div>
        <a class="team__button" href="./pages/equipe/">
            <button class="team__button-button">
                <span>Conheça a equipe</span>
            </button>
        </a>
    </div>
</div>