<h2>Equipe</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis optio nisi distinctio obcaecati assumenda?
    Aperiam, voluptate facilis rerum provident eius beatae totam, atque fuga ratione vitae laborum sed numquam.
    Dolorum!</p>
<div class="team__divider"></div>
<div class="team__areas">
    <div class="team__content">
        <div class="team__block">
            <h3>Mecânica</h3>
            <div class="team__icon">
                <img src="./img/mecanica.png" alt="Mecânica">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laboriosam dolores eveniet ab animi nisi soluta est libero.</p>
        </div>

        <div class="team__block">
            <h3>Elétrica</h3>
            <div class="team__icon">
                <img src="./img/eletrica.png" alt="Elétrica">
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus quos quae dolorem maiores deserunt natus.</p>
        </div>

        <div class="team__block">
            <h3>Software</h3>
            <div class="team__icon">
                <img src="./img/software.png" alt="Software">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consequuntur libero amet nulla quas.</p>
        </div>

        <div class="team__block">
            <h3>Marketing e Gestão</h3>
            <div class="team__icon">
                <img src="./img/marketinggestao.png" alt="Marketing e Gestão">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sequi aliquam debitis asperiores?</p>
        </div>
        <button class="team__button"><span><a href="./pages/equipe/">Conheça a equipe</a></span></button>
    </div>
</div>