@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  margin: 0 auto;
  width: var(--max-width);
}

h1,
h2,
h3 {
  font-family: "BioRhyme", serif;
  font-weight: 800;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
  color: var(--white-color);
}

h2 {
  margin-top: 30px;
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
  color: var(--white-color);
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

#loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--primary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}