@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --tamanho-fonte-normal: 1em;
  --tamanho-fonte-titulo-1: 1.2em;
  --tamanho-fonte-titulo-2: 1.1em;

  --cor-principal: #040053;
  --cor-secundaria: #2d0a66;
  --cor-cinza: #d9d9d9;
  --cor-branco: #f1f1ff;
  --cor-preto: #212121;

  --largura-geral: min(1300px, 80dvw, 90dvw);
}

html {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
  width: var(--largura-geral);
}