@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --tamanho-fonte-normal: 1em;
  --tamanho-fonte-titulo-1: 1.2em;
  --tamanho-fonte-titulo-2: 1.1em;

  --cor-principal: #040053;
  --cor-secundaria: #2d0a66;
  --cor-cinza: #d9d9d9;
  --cor-branco: #f1f1ff;
  --cor-preto: #212121;

  --primary-text-color: #2F1E4A;
  --secondary-text-color: #55446E;
  --card-background-color: #E6E1EE;
  --icon-color: #8C6EDF;

  --largura-geral: min(1300px, 80dvw, 90dvw);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  margin: 0 auto;
  width: var(--largura-geral);
}

h1,
h2,
h3 {
    font-family: "BioRhyme", serif;
    font-weight: 800;
    color: var(--cor-secundaria);
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    color: var(--cor-branco);
}

h2 {
    margin-top: 30px;
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
    color: var(--cor-branco);
}

/** Loading Screen **/
#loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--cor-branco);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--cor-principal);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}