main {
    min-height: 40vw;
}

.img-equipe {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-image: url('https://dummyimage.com/1980x1080/222/fff&text=Imagem+da+Equipe');
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}