<div class="container">
    <div class="grid">
        <a href="#modal-maria" class="aluno-card-link">
            <div class="aluno-card">

                <div>
                    <i class="fa-solid fa-image aluno-ico"></i>
                </div>

                <div class="aluno-info">
                    <h3>Mary</h3>
                    <p>Maria Clara Gomes Moreira</p>
                </div>

            </div>
        </a>
    </div>
</div>


<div id="modal-maria" class="modal">
    <div class="modal-content">
        <a href="#" class="close-modal">&times;</a>
        <i class="fa-solid fa-image modal-icon"></i>
        <div class="modal-info">
            <h2>Maria Clara</h2>
            <p>Área: Software</p>
            <p>Ano de ingresso: 2025</p>
            <p> E-mail: clara.maria.mcgm@gmail.com</p>
            <p>Sonhar vicia!</p>
        </div>
    </div>
</div>