<div class="hero__content">
<h1 class="hero__title">Construa um futuro com <br />o Flytec Drones</h1>
    <p class="hero__description">
        Ao patrocinar o Flytec Drones, você fortalece a inovação no ensino
        público e associa sua marca à educação e responsabilidade social.
    </p>
    <div class="hero__buttons">
        <button class="hero__button-btn1">
            <span class="text">Seja um Apoiador <i class="fa-solid fa-hand-holding-heart"></i></span>
        </button>
    </div>
</div>