<div class="about">
    <div id="sobre" class="about__section">
        <section id="quem-somos" class="about__container">
            <div class="about__content">
                <h2>Quem somos?</h2>
                <p>
                    Somos uma equipe dedicada ao desenvolvimento de drones autônomos e sistemas embarcados, integrando
                    as áreas de software, elétrica e mecânica, unindo teoria e prática. Nossa atuação abrange desde o projeto estrutural e a seleção de componentes eletrônicos até a
                    programação de sistemas de controle e navegação autônoma para nossos drones.
                </p>
                <div class="about__image">
                    <img src="./img/drone_lilas.png" alt="Illustration of a drone" />
                </div>
                <p>
                    Participamos de competições de robótica aérea que exigem inovação e criatividade para solução de
                    desafios. Mais do que uma equipe de competição, somos um ambiente de formação, crescimento profissional e uma
                    verdadeira família.
                </p>
            </div>
        </section>

        <section id="cards" class="about__cards">
            <div class="about__cards-container">
                <div class="about__cards-wrapper">
                    <div class="about__card">
                        <div class="about__card-icon">
                            <img class="about__card-image" src="./img/missao.svg" alt="">
                        </div>
                        <h3>Missão</h3>
                        <p class="about__card-description">
                            Projetar, desenvolver e aperfeiçoar drones autônomos, promovendo o aprendizado prático, a pesquisa aplicada e a formação de profissionais comprometidos com a ciência, a engenharia e a ética.
                        </p>
                    </div>

                    <div class="about__card">
                        <div class="about__card-icon">
                            <img class="about__card-image" src="./img/visao.svg" alt="">
                        </div>
                        <h3>Visão</h3>
                        <p class="about__card-description">
                            Ser referência nacional e internacional em robótica de drones e na área acadêmica, contribuindo para o avanço tecnológico e científico por meio de competições, projetos colaborativos e impacto educacional.
                        </p>
                    </div>

                    <div class="about__card">
                        <div class="about__card-icon">
                            <img class="about__card-image" src="./img/valores.svg" alt="">
                        </div>
                        <h3>Valores</h3>
                        <p class="about__card-description">
                            O Flytec Drones valoriza a inovação, a colaboração e o compromisso com a excelência técnica. Atuamos com ética, responsabilidade socioambiental e acreditamos no aprendizado contínuo como base para o crescimento pessoal e coletivo.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>